# Unit 22. 리스트, 튜플 응용

## 22.1 리스트 조작

In [1]:
a = [10, 20, 30]

In [2]:
# 리스트 맨 뒤에 요소하나를 추가하는 메소드
a.append(500)
a

[10, 20, 30, 500]

In [3]:
a.append(['x', 'y'])
a

[10, 20, 30, 500, ['x', 'y']]

In [4]:
b=[10, 20, 30]
b.extend(['x', 'y'])
b

[10, 20, 30, 'x', 'y']

In [5]:
empty_list = []
for i in range(5):
    empty_list.append(i)
empty_list

[0, 1, 2, 3, 4]

In [6]:
del a[4]
a

[10, 20, 30, 500]

## Stack and Queue

In [13]:
stack = []
# stack에 push
stack.append(1); stack.append(2); stack.append(3);
stack

[1, 2, 3]

In [14]:
# stack으로부터 pop
value = stack.pop()
print(value, stack)

3 [1, 2]

In [16]:
queue = []
# queue에 insert
queue.insert(0, 1); queue.insert(0, 2); queue.insert(0, 3)
queue

[3, 2, 1]

In [18]:
# queue로부터 끄집어내기
value = queue.pop()
print(value, queue)

2 [3]

### 다양한 메소드

In [19]:
a = [10, 20, 30, 40, 50, 60]
a.index(30)

2

In [29]:
num = 30
if num in a:
    print(a.index(num))

2

In [26]:
a.count(10)

1

In [30]:
a.count(45)

0

In [32]:
a.index(30), a.index(40)

(2, 3)

## 정렬(Sort)

In [34]:
a = [20, 10, 15, 30, 40]
a.sort()
a

[10, 15, 20, 30, 40]

In [36]:
b = [20, 10, 15, 30, 45]
b = sorted(b)
b

[10, 15, 20, 30, 45]

In [38]:
# 내림차순으로 만들 때
b = [20, 10, 15, 30, 40]
b.sort(reverse=True)
b

[40, 30, 20, 15, 10]

## 22.2 리스트 할당과 복사

In [40]:
# Shallow copy
a = [0, 0, 0, 0, 0]
b = a
b

[0, 0, 0, 0, 0]

In [42]:
b[2] = 99
b

[0, 0, 99, 0, 0]

In [44]:
a

[0, 0, 99, 0, 0]

In [46]:
# 데이터를 몽땅 별도의 기억장소에 복사
a = [0, 0, 0, 0, 0]
b = a.copy()
b

[0, 0, 0, 0, 0]

In [49]:
b[2] = 99
a, b

([0, 0, 0, 0, 0], [0, 0, 99, 0, 0])

### 22.3 리스트와 반복문

In [50]:
for fruit in ['apple', 'banana', 'cherry']:
    print(fruit)

apple
banana
cherry

In [54]:
fruits = ['apple', 'banana', 'cherry']
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

In [55]:
for i in range(len(fruits)):
    print(fruits[i])

apple
banana
cherry

## 22.4 리스트에서 min, max sum 함수

In [58]:
a = [38, 21, 53, 62, 19]
a.sort()
a[0], a[-1] #min, max

(19, 62)

In [60]:
sorted(a)[0] #min

19

In [62]:
# a 원소의 합
sum_of_list = 0
for elem in a:
    sum_of_list += elem
sum_of_list, sum(a) # sum()함수와 sum = 0 변수를 같이 사용하면 안됨

(193, 193)

### 22.5 리스트 표현식(Comprehension)

In [64]:
[ fruit for fruit in fruits]

['apple', 'banana', 'cherry']

In [66]:
[fruit*index for index, fruit in enumerate(fruits)]

['', 'banana', 'cherrycherry']

In [68]:
[i*i for i in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [70]:
list(i*i for i in range(1, 11))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [72]:
sq_list = []
for i in range(1, 11):
    sq_list.append(i*i)
sq_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 표현식에서 if 조건문 사용하기

In [74]:
[i*i for i in range(1, 11, 2)]

[1, 9, 25, 49, 81]

In [76]:
[i*i for i in range(1, 11) if i%2 == 1]

[1, 9, 25, 49, 81]

### for가 여러번 나오는 경우

In [78]:
# 구구단
a = [i*k for i in range(2, 10) for k in range(1, 10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [81]:
a = [i*k for i in range(2, 10)
            for k in range(1, 10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

### 22.6 map

In [83]:
a = [1.2, 2.5, 3.7, 4.6]
for i in range(len(a)):
    a[i] = int(a[i])
a

[1, 2, 3, 4]

In [84]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a))
a

[1, 2, 3, 4]