### Unit 15

In [ ]:
age = int(input())
balance = 9000
if 7 <= age <= 12:
    balance -= 650
elif 13 <= age <= 18:
    balance -= 1050
elif 19 <= age:
    balance -= 1250
print(balance)

10
8350

### Unit 16

In [ ]:
number = int(input())
for i in range(1, 10):
    #print("%d * %d = %d" %(number, i, number*i))
    #print(f'{number} * {i} = {number * i}')
    print(number, '*', i, '=', number*i)

### Unit 17

In [3]:
money = int(input())
for _ in range(money//1350):
    money -= 1350
    print(money)

ValueError: invalid literal for int() with base 10: ''

### Unit 18

In [4]:
start, stop = map(int, input().split())
i = start
while True:
    k = i
    if k//10 != 0:
      k %= 10
      if k == 3:
        i += 1
        continue
    if i == 3:
      i += 1
      continue
    if i > stop:
      break
    print(i, end=' ')
    i += 1

1 2 4 5 6 7 8 9 10 11 12 14 15 16 17 18 19 20

### Unit 19

In [2]:
number = int(input())
cnt = 1
for i in range(number-1, -1, -1):
    print(' '*(((2*i+1)-1)//2), '*'*cnt, ' '*(((2*i+1)-1)//2), sep='')
    cnt += 2

    *
   ***
  *****
 *******
*********

### Unit 20

In [31]:
a, b = map(int, input().split())
for i in range(a, b+1):
    print('Fizz'*(i%5==0) + 'Buzz'*(i%7==0) or i)

35 40
FizzBuzz
36
37
38
39
Fizz

### Unit 22

In [41]:
a, b = map(int, input().split())
n_list = []
for i in range(a, b+1):
    n_list.append(2**i)
del n_list[1], n_list[-2]
print(n_list)

1 5
[2, 8, 32]

In [47]:
a, b = map(int, input().split())
n_list = []
[n_list.append(2**i) for i in range(a, b+1)]
del n_list[1], n_list[-2]
print(n_list)

10 20
[1024, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 1048576]

In [67]:
# 본인의 생일을 1998 12 15와 같이 연월일로 입력받아 오늘 날짜의 만나이를 구하는 프로그램을 작성하시오
y, m, d = map(int, input().split())
y_dif = 2020 - y
if m == 7:
    if d >= 30 : # 생일 지남
      print(y_dif+1)
    else: # d < 30 생일 안 지남
      print(y_dif)
elif m > 7:
    print(y_dif+1)
else: # m < 7:
    print(y_diff)

1987 7 30
34

In [9]:
from datetime import date
today = date.today()

year, month, day = map(int, input('생일입력').split())

if month > today.month:
    age = today.year - year - 1
elif month < today.month:
    age = today.year - year
else:
    if day> today.day:
        age = today.year - year - 1
    else:
        age = today.year - year
print(f'만 나이는 {age}입니다.')

만 나이는 33입니다.

In [17]:
# 디지털 시계에 하룻동안 (00:00~23:59) 3이 표시되는 시간을 초로 환산하면 총 몇 초일까요? 디지털 시계는 하룻동안 다음과 같이 시:분(00:00~23:59)으로 표시됨
sum = 0
for i in range(1, 25):
      if i%10 == 3:
            sum += 3600
            continue
      for k in range(1, 60):
            if k%10 == 3:
              sum += 60
print(sum)

18360

In [12]:
total_seconds = 0
for hour in range(24):
    for min in range(60):
        time = f'{hour:02d}:{min:02d}'
        if '3' in time:
            total_seconds += 60
print(total_seconds)

29700

In [50]:
# a+b+c = 1000 a < b < c
# a*a + b*b = c*c
for a in range(1, 1000):
  for b in range(a+1, 1000):
    for c in range(b+1, 1000):
      if a + b + c > 1000:
        break
      else:
        if a*a + b*b == c*c and a + b + c == 1000:
          print(a, b, c)

200 375 425

In [5]:
for a in range(1, 333):
    for b in range(a+1, 500):
        c = 1000 -a -b
        if c*c == a*a + b*b:
            print(a, b, c)

200 375 425

In [7]:
[(a, b, c) for a in range(1, 333)
                for b in range(a+1, 500)
                    for c in range(b+1, 1000)
                        if a+b+c==1000 and a*a + b*b == c*c]

[(200, 375, 425)]